<html lang="he">
    <head>
        <meta charset="utf-8">
        <title>
            {{subject}}
        </title>
    </head>
    <body
        style="border: 5px solid #a05444;"
    >
        <h1>שלום {{name}}</h1>
        <p>הסיסמה הזמנית שלך היא {{password}}</p>
        <p>תהיה חייב להחליף אותה בהתחברות הראשונה שלך</p>
    </body>
</html>