<html lang="he">
    <head>
        <meta charset="utf-8">
        <title>
            {{subject}}
        </title>
    </head>
    <body
        style="border: 5px solid #a05444;"
    >
        <h1>שלום {{name}}</h1>
        <p>בקשת ההצטרפות שלך למערכת אושרה, הנך יכול להתחבר מדף הכניסה של המערכת</p>
    </body>
</html>